In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [3]:
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [4]:
# Read the dataset
df = pd.read_csv('Students Social Media Addiction.csv')

In [5]:
# Basic information about the dataset
print("\n=== Dataset Info ===")
df.info()

=== Dataset Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

In [6]:
print("\n=== Dataset Shape ===")

=== Dataset Shape ===

In [7]:
print(f"Rows: {df.shape[0]}")

Rows: 705

In [8]:
print(f"Columns: {df.shape[1]}")

Columns: 13

In [9]:
print("\n=== First Few Rows ===")
display(df.head())

=== First Few Rows ===

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [10]:
print("\n=== Statistical Summary ===")
display(df.describe())

=== Statistical Summary ===

,Student_ID,Age,Avg_Daily_Usage_Hours,Sleep_Hours_Per_Night,Mental_Health_Score,Conflicts_Over_Social_Media,Addicted_Score
count,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000
mean,353.000000,20.659574,4.918723,6.868936,6.226950,2.849645,6.436879
std,203.660256,1.399217,1.257395,1.126848,1.105055,0.957968,1.587165
min,1.000000,18.000000,1.500000,3.800000,4.000000,0.000000,2.000000
25%,177.000000,19.000000,4.100000,6.000000,5.000000,2.000000,5.000000
50%,353.000000,21.000000,4.800000,6.900000,6.000000,3.000000,7.000000
75%,529.000000,22.000000,5.800000,7.700000,7.000000,4.000000,8.000000
max,705.000000,24.000000,8.500000,9.600000,9.000000,5.000000,9.000000

In [ ]:
print('=== Numerical Columns Statistics ===\n')
print(df.describe().round(2))

=== Numerical Columns Statistics ===

       Student_ID     Age  Avg_Daily_Usage_Hours  Sleep_Hours_Per_Night  \
count      705.00  705.00                 705.00                 705.00
mean       353.00   20.66                   4.92                   6.87
std        203.66    1.40                   1.26                   1.13
min          1.00   18.00                   1.50                   3.80
25%        177.00   19.00                   4.10                   6.00
50%        353.00   21.00                   4.80                   6.90
75%        529.00   22.00                   5.80                   7.70
max        705.00   24.00                   8.50                   9.60

       Mental_Health_Score  Conflicts_Over_Social_Media  Addicted_Score
count               705.00                       705.00          705.00
mean                  6.23                         2.85            6.44
std                   1.11                         0.96            1.59
min                   4.00                         0.00            2.00
25%                   5.00                         2.00            5.00
50%                   6.00                         3.00            7.00
75%                   7.00                         4.00            8.00
max                   9.00                         5.00            9.00

In [19]:
print('=== Column Names ===\n')
print(df.columns.tolist())

=== Column Names ===

['Student_ID', 'Age', 'Gender', 'Academic_Level', 'Country', 'Avg_Daily_Usage_Hours', 'Most_Used_Platform', 'Affects_Academic_Performance', 'Sleep_Hours_Per_Night', 'Mental_Health_Score', 'Relationship_Status', 'Conflicts_Over_Social_Media', 'Addicted_Score']

In [20]:
print('=== Average Daily Usage Hours ===\n'); print(df['Avg_Daily_Usage_Hours'].value_counts().sort_index())

=== Average Daily Usage Hours ===

Avg_Daily_Usage_Hours
1.5     1
2.0     1
2.1     1
2.2     2
2.3     4
2.4     4
2.5     5
2.6     5
2.7     5
2.8     8
2.9     7
3.0     6
3.1     7
3.2     9
3.3     9
3.4     8
3.5    10
3.6    13
3.7    15
3.8    19
3.9    15
4.0    15
4.1    17
4.2    23
4.3    23
4.4    27
4.5    30
4.6    28
4.7    31
4.8    29
4.9    20
5.0    14
5.1    13
5.2    15
5.3    14
5.4    14
5.5    19
5.6    19
5.7    19
5.8    18
5.9    13
6.0     7
6.1    13
6.2    13
6.3    11
6.4    10
6.5    10
6.6     8
6.7    10
6.8    13
6.9    10
7.0    10
7.1     8
7.2     8
7.3     4
7.4     3
7.5     2
7.6     1
7.7     1
7.8     1
7.9     1
8.0     1
8.1     1
8.2     1
8.3     1
8.4     1
8.5     1
Name: count, dtype: int64

In [21]:
print('=== Sleep Hours Per Night ===\n')
print(df['Sleep_Hours_Per_Night'].value_counts().sort_index())
print('\n=== Mental Health Score ===\n')
print(df['Mental_Health_Score'].value_counts().sort_index())

=== Sleep Hours Per Night ===

Sleep_Hours_Per_Night
3.8     1
3.9     1
4.0     1
4.1     2
4.2     2
4.3     2
4.4     2
4.5     3
4.6     3
4.7     3
4.8     4
4.9     5
5.0     7
5.1     7
5.2    13
5.3    11
5.4    14
5.5    15
5.6     9
5.7    18
5.8    23
5.9    21
6.0    18
6.1    12
6.2    20
6.3    19
6.4    17
6.5    23
6.6    20
6.7    25
6.8    24
6.9    14
7.0    18
7.1    20
7.2    28
7.3    28
7.4    26
7.5    25
7.6    16
7.7    15
7.8    20
7.9    19
8.0    18
8.1    16
8.2    15
8.3    15
8.4    14
8.5    10
8.6     9
8.7     7
8.8     6
8.9     5
9.0     3
9.1     3
9.2     3
9.3     2
9.4     2
9.5     2
9.6     1
Name: count, dtype: int64

=== Mental Health Score ===

Mental_Health_Score
4     29
5    173
6    219
7    178
8    105
9      1
Name: count, dtype: int64

In [22]:
print('=== Addiction Score Distribution ===\n')
print(df['Addicted_Score'].value_counts().sort_index())

=== Addiction Score Distribution ===

Addicted_Score
2      1
3     16
4     83
5    136
6     61
7    209
8    144
9     55
Name: count, dtype: int64